<div class="nav-bar">
   <div>
      <a class="name-logo" href="http://{{ site.url }}">{{ site.title }}</a>
      <div style="margin-top: 15px;width: 330px;">Principal Consultant at <a href="https://www.hadii.ca/" style=" color: #737373; border: 1px solid gray; background: #fbfbfb;   border-radius: 10px;   padding: 2px;    padding-left: 10px;    margin-left: 6px;    padding-right: 10px;    font-weight: normal;    font-size: 13px;    font-family: Open Sans;    -moz-box-shadow: inset 0 0 10px #000000;    -webkit-box-shadow: inset 0 0 10px #000000;    box-shadow: inset 0 0 5px #9494949e;">HADII TECHNOLOGY</a></div>
   </div>   
   <ul class="nav-bar">
      <li class="nav-bar"><a href="http://{{ site.url }}">Home</a></li>
      <li class="nav-bar-small"><a href="http://{{ site.url }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      
      <li class="nav-bar"><a target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}">About</a></li>
      <li class="nav-bar-small"><a target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
      
      <li class="nav-bar" style="width:150px;" ><a target="_blank" href="{{ site.mailchimp_subscribe_page }}">Stay Informed</a></li>
      <li class="nav-bar-small"><a target="_blank" href="{{ site.mailchimp_subscribe_page }}"><i class="fa fa-book" aria-hidden="true"></i></a></li>
      
      <li class="nav-bar" style="width:100px;"><a target="_blank" href="https://github.com/{{ site.author.github_username}}">Portfolio</a></li>
      <li class="nav-bar-small"><a target="_blank"href="https://github.com/{{ site.author.github_username}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      
      <li class="nav-bar" style="vertical-align: middle; margin-left: 30px;">
         <a href="https://twitter.com/MuntazirFadhel?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @MuntazirFadhel</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </li>
      <li class="nav-bar-small"><a target="_blank" href="https://twitter.com/{{ site.author.twitter_username}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
   </ul>
</div>
