<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>
  
<header class="panel-cover">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="/" title="link to home of {{ site.title }}">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
          <img src="/images/g746.png">
       </a>
	            <hr class="panel-cover__divider">

	    <div class="navigation-wrapper">
          <nav class="cover-navigation navigation--social">
            <ul class="navigation">
          
            {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}
          
            </ul>
          </nav>
        </div>
        <hr class="panel-cover__divider">
        <!-- <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary"> -->
	
	<div id="mc_embed_signup" style="background-color: transparent;" class="cover-navigation navigation--social">
   <form action="https://mfadhel.us18.list-manage.com/subscribe/post?u=e29b3cf65fc914736ceb6d80c&amp;id=5de0ab474c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <div id="mc_embed_signup_scroll" style="
         margin-left: auto;
         margin-right: auto;
         ">
        <input type="email" style="width: 90%; max-width: 330px;" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email to be notified of new content" required="">
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
         <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e29b3cf65fc914736ceb6d80c_5de0ab474c" tabindex="-1" value="">
         </div>
         <div class="clear"><input type="submit" value="Subscribe" style="     margin-right: auto; margin-left: auto;   font-family: Raleway; text-transform: uppercase; background-color: #525252; color: white;" name="subscribe" id="mc-embedded-subscribe" class="button">
         </div>
      </div>
   </form>
</div>   
	    
        
	    </div>
      </div>
    <div class="panel-cover--overlay"></div>
  </div>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"e29b3cf65fc914736ceb6d80c","lid":"5de0ab474c"}) })</script>
</header>
