<script id="mNCC" language="javascript">
   if (window.innerWidth >= 1400) {
        medianet_width= '728'
        medianet_height= '90';
        medianet_crid = "473665967";
   } else if (window.innerWidth >= 950) {
        medianet_width= '600'
        medianet_height= '120';
        medianet_crid = "186743821";
   } else if (window.innerWidth >= 550) {
        medianet_width= '468'
        medianet_height= '60';
        medianet_crid = "436877765";
   } else {
        medianet_width='160';
        medianet_height= '90';
        medianet_crid = "894515278";
   }
   medianet_versionId = "3111299"; 
</script>
<script src="//contextual.media.net/nmedianet.js?cid=8CUJKKM6U"></script>
