<table style="font-family:Lato;min-width: 800px; font-weight:bold;     margin-bottom: 30px;">
	<tbody>
		<tr valign="top">
			<td rowspan="18" bgcolor="#f3f2f2" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: none;padding-top: 0.2cm;padding-bottom: 0.2cm;padding-left: 0.2cm;padding-right: 0cm;/* margin-top: auto; */vertical-align: middle;top: 90px;/* margin-bottom: auto; */">
				<p style="font-style: normal;width:70px;margin-bottom: 5px;/* margin-top: 180px; */top: 100px;/* align-content: center; */">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">repos</span></b></font>
					</font>
				</p>
			</td>
			<td rowspan="8" bgcolor="#f3f2f2" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: none;padding-top: 0.2cm;padding-bottom: 0.2cm;padding-left: 0.2cm;padding-right: 0cm;vertical-align: middle;">
				<p style="font-style: normal;width:90px;margin-bottom: 5px;/* margin-top: 180px; */">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">{:owner}</span></b></font>
					</font>
				</p>
			</td>
			<td rowspan="8" bgcolor="#f3f2f2" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: none;padding-top: 0.2cm;padding-bottom: 0.2cm;padding-left: 0.2cm;vertical-align: middle;padding-right: 0cm;">
				<p style="margin-bottom: 0cm;width:40px;margin-bottom: 5px;/* margin-top: 180px; */font-style: normal;margin-top: 32px;">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">{:repo}</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-bottom:10px; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/repos/#get">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/repos/#edit">
						<div style="background-color: #99cccc; color:white; display:inline-block; width:40px; margin-right:-3px; padding:5px; text-align:center;">PATCH</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/repos/#delete-a-repository">
						<div style="background-color: #ff3333; display:inline-block; color:white; width:46px; padding:5px; margin-right:-3px; text-align:center;">DELETE</div>
					</a>
				</div>
			</td>
			<td rowspan="8" bgcolor="#f3f2f2" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: none;padding-top: 0.2cm;padding-bottom: 0.2cm;padding-left: 0.2cm;padding-right: 0cm;vertical-align: middle;">
				<p align="left" style="font-style: normal;width:40px;padding-bottom:0px;margin-bottom: 5px;/* margin-top: 180px; */margin-top: 20px;">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">pulls
			</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;   margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/#list-pull-requests">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/#create-a-pull-request">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-3px; text-align:center;">POST</div>
					</a>
				</div>
			</td>
			<td rowspan="8" bgcolor="#f3f2f2" style="border-top: 1px solid #000000;border-bottom: 1px solid #000000;border-left: 1px solid #000000;border-right: none;padding-top: 0.2cm;padding-bottom: 0.2cm;padding-left: 0.2cm;padding-right: 0cm;vertical-align: middle;">












				<p align="left" style="margin-top: 80px;margin-bottom: 5px;margin-top: 5px;/* margin-top: 180px; */margin-top: 20px;font-style: normal;text-shadow: 0 0 black;">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">{:number}</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white;     font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/#get-a-single-pull-request">
						<div style="background-color: #3399ff; display:inline-block;  color:white; width:30px; padding:5px; margin-right:-3px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/#update-a-pull-request">
						<div style="background-color: #99cccc; display:inline-block; color:white; width:40px; margin-right:-3px; padding:5px; text-align:center;">PATCH</div>
					</a>
				</div>


			</td>
			<td colspan="3" bgcolor="#f3f2f2" style="border: 1px solid #000000; padding: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style:  normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">commits</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white;    font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/#list-commits-on-a-pull-request">
						<div style="background-color: #3399ff; display:inline-block;  color:white; width:30px; padding:5px; margin-right:-3px; text-align:center;">GET</div>
					</a>
				</div>

			</td>
		</tr>
		<tr valign="top">
			<td colspan="3" bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">files</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white;  font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/#list-pull-requests-files">
						<div style="background-color: #3399ff; display:inline-block;  color:white; width:30px; padding:5px; margin-right:-3px; text-align:center;">GET</div>
					</a>
				</div>

			</td>
		</tr>
		<tr valign="top">
			<td colspan="3" bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">merge</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white;    font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/#get-if-a-pull-request-has-been-merged">
						<div style="background-color: #3399ff; display:inline-block;  color:white; width:30px; padding:5px; margin-right:-3px; text-align:center;">GET</div>
					</a>
				</div>
			</td>
		</tr>
		<tr valign="top">
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0cm">
				<p align="left" style="    margin-bottom: 5px;     margin-right: 10px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">comments</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/comments/#list-comments-on-a-pull-request">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/comments/#create-a-comment">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-3px; text-align:center;">POST</div>
					</a>
				</div>

			</td>
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">{:id}</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/comments/#list-comments-on-a-pull-request">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/#update-a-pull-request">
						<div style="background-color: #99cccc; color:white; display:inline-block; width:40px; margin-right:-4px; padding:5px; text-align:center;">PATCH</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/comments/#delete-a-comment">
						<div style="background-color: #ff3333; display:inline-block; color:white; width:46px; padding:5px; margin-right:-3px; text-align:center;">DELETE</div>
					</a>
				</div>
			</td>
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">reactions</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold; margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/reactions/#list-reactions-for-a-pull-request-review-comment">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/reactions/#create-reaction-for-a-pull-request-review-comment">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-3px; text-align:center;">POST</div>
					</a>
				</div>

			</td>
		</tr>
		<tr valign="top">
			<td rowspan="3" bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">reviews</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#list-reviews-on-a-pull-request">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#create-a-pull-request-review">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-3px; text-align:center;">POST</div>
					</a>
				</div>
			</td>
			<td rowspan="3" bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">{:id}</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#get-a-single-review">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#delete-a-pending-review">
						<div style="background-color: #ff3333; display:inline-block; color:white; width:46px; padding:5px; margin-right:-3px; text-align:center;">DELETE</div>
					</a>
				</div>
			</td>
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">comments</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#get-comments-for-a-single-review">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
				</div>
			</td>
		</tr>
		<tr valign="top">
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">events</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#create-a-pull-request-review">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-3px; text-align:center;">POST</div>
					</a>
				</div>

			</td>
		</tr>
		<tr valign="top">
			<td bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">dismissals</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/reviews/#dismiss-a-pull-request-review">
						<div style="background-color: #ff9900; display:inline-block; color:white; width:30px; padding:5px; margin-right:-3px; text-align:center;">PUT</div>
					</a>
				</div>

			</td>
		</tr>
		<tr valign="top">
			<td colspan="3" bgcolor="#f3f2f2" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.2cm; padding-left: 0.2cm; padding-right: 0.2cm">
				<p align="left" style="    margin-bottom: 5px; margin-top: 5px; font-style: normal">
					<font face="Lato">
						<font size="2" style="font-size: 16pt"><b><span style="background: transparent">requested_reviewers</span></b></font>
					</font>
				</p>
				<div style="font-size: 11px; width:auto; color:white; font-weight:bold;  margin-right:10px; ">
					<a target="_blank" href="https://developer.github.com/v3/pulls/review_requests/#list-review-requests">
						<div style="background-color: #3399ff; display:inline-block; color:white; width:30px; padding:5px; margin-right:-2px; text-align:center;">GET</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/review_requests/#create-a-review-request">
						<div style="background-color: #00cc00; display:inline-block; color:white; width:33px; padding:5px; margin-right:-4px; text-align:center;">POST</div>
					</a>
					<a target="_blank" href="https://developer.github.com/v3/pulls/review_requests/#delete-a-review-request">
						<div style="background-color: #ff3333; display:inline-block; color:white; width:46px; padding:5px; margin-right:-3px; text-align:center;">DELETE</div>
					</a>

				</div>

			</td>
		</tr>
	</tbody>
</table>
