<div class="tweet_box" >
      <a target="_blank" class="tweet_link" href="https://twitter.com/home?status={{include.quote}}&nbsp;http%3A//mfadhel.com{{page.url}}&nbsp;&#35;{{include.hashtag_1}}&nbsp;&#35;{{include.hashtag_2}}&nbsp;&#35;{{include.hashtag_3}}">
            "{{include.quote}}"
      </a>
      <div style="bottom:2px; right:0px;">
            <p style="display:inline-block;">CLICK TO TWEET</p>
            <i style="display: inline-block; margin-right: 6px;" class="fa fa-twitter" aria-hidden="true"></i>
      </div>      
</div>
