<div class="tweet_box" >
      <a target="_blank" style="color:#6d6d6d;" class="tweet_link" href="https://twitter.com/home?status={{include.quote}}&nbsp;http%3A//mfadhel.com{{page.url}}&nbsp;&#35;{{include.hashtag_1}}&nbsp;&#35;{{include.hashtag_2}}&nbsp;&#35;{{include.hashtag_3}}">
            {{include.quote}}
      
            <div style="bottom: 0px; right: 2px; position: relative; padding: 0; margin: 0; margin-bottom: -30px; padding-top: 20px; font-size: 13px;">
                  <p style="display:inline-block;">CLICK TO TWEET</p>
                  <i style="display: inline-block; color:#80caf7; margin-right: 6px;" class="fa fa-twitter" aria-hidden="true"></i>
            </div>  
      </a>
</div>
