---
layout: default
---

<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  <div style="    padding: 7px; border-top: 1px solid #80808078; background-color: #75787d29; padding-bottom: 25px; padding-left: 20px; border: 1px solid #80808069;">
   <h4 style="margin-top: 15px; padding-right: 10px; margin-bottom: 20px;">Share <span style="color:#635e5ed6;"><em>"{{ page.title }}"</em></span></h4>
   <a target="_blank" href="https://twitter.com/home?status=http%3A//mfadhel.com{{page.url}}">
      <div style="background-color: #3399ff;  font-size: 14px; font-family: margin-bottom: 5px; Raleway; display:inline-block; color:white; width:80px; padding:5px; margin-right:2px; text-align:center;"><i style="display: inline-block; margin-right: 6px;" class="fa fa-twitter" aria-hidden="true"></i><span style="display:inline-block;">Twitter</span></div>
   </a>
   <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//mfadhel.com{{page.url}}&amp;title={{page.title}}&amp;source=LinkedIn">
      <div style="background-color: #57afaf; font-family: Raleway; margin-bottom: 5px; font-size: 14px; color:white; display:inline-block; width:90px; margin-right:2px; padding:5px; text-align:center;"><i style="display: inline-block; margin-right: 6px;" class="fa fa-linkedin" aria-hidden="true"></i><span style="display:inline-block;">LinkedIn</span></div>
   </a>
   <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//mfadhel.com{{page.url}}">
      <div style="background-color: #3b5998;  font-family: Raleway; margin-bottom: 5px; font-size: 14px; display:inline-block; color:white; width:90px; padding:5px; margin-right:2px; text-align:center;"><i style="display: inline-block; margin-right: 6px;" class="fa fa-facebook" aria-hidden="true"></i><span style="display:inline-block;">Facebook</span></div>
   </a>
</div>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
