---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a class="post_tags" href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  <div style="padding:7px;/* border-style:solid; */border-width:1px;width:400px;border-radius:12px;">
   <div style="font-weight:bold; padding-right:6px; display:inline-block;">SHARE ON </div>
   <a target="_blank" href="https://twitter.com/home?status=http%3A//mfadhel.com{{page.url}}">
      <div style="background-color: #3399ff; border-radius:8px; display:inline-block; color:white; width:60px; padding:5px; margin-right:2px; text-align:center;">Twitter</div>
   </a>
   <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//mfadhel.com{{page.url}}&title={{post.title}}&summary=&source=">
      <div style="background-color: #99cccc; border-radius:8px; color:white; display:inline-block; width:70px; margin-right:2px; padding:5px; text-align:center;">LinkedIn</div>
   </a>
   <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//mfadhel.com{{page.url}}">
      <div style="background-color: #3b5998; border-radius:8px; display:inline-block; color:white; width:70px; padding:5px; margin-right:2px; text-align:center;">Facebook</div>
   </a>
</div>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
