---
layout: default
---
<article class="post-container post-container--single">
   <header class="post-header" style="margin-top: -60px;">
      <h1 class="post-title">{{ page.title }}</h1>
   </header>
   <section class="post" style="margin-bottom: 60px;">
      {{ content }}
       <p style="
             padding-top:20px;
             font-size: 20px;
             font-weight: 600;
             font-family: Consolas;
             ">
          If you enjoyed this post, <a href="https://mailchi.mp/c976e4a02c94/mfadhel" target="_blank">subscribe</a>
          to my mailing list
          to be notified of future posts, and kindly
          <span style="font-weight:bold;"><b>share</b></span> <i class="fa fa-hand-o-down" aria-hidden="true"></i> 
          on Twitter <i class="fa fa-twitter" aria-hidden="true" style="color: #80caf7;"></i>.
      </p>
   </section>
   <p>
   {% include tweet_box.html %}
   <div style="padding: 7px; border: 1px solid #8080805c; background-color: #f7f7f7;padding-left: 20px;margin-top: 120px;border-radius: 10px;margin-bottom: 30px;">
      <img src="/images/muntazir_fadhel.png" style="
         width: 20%;
         border-radius: 50%;
         MARGIN-LEFT: AUTO;
         border: 1px solid #80808069;
         margin-top: -60px;
         margin-right: auto;
         display: block;
      ">
      <p style="
         margin-left: auto;
         margin-right: auto;
         display: block;
         font-weight: bold;
         text-transform: uppercase;
         margin-top: 10px;
         text-align: center;
         "> Muntazir Fadhel</p>
      <hr style="
         border: 0.5px solid #8080801f;
         width: 80%;
         ">
      <p style="
         width: 80%;
         margin-left: auto;
         margin-right: auto;
         font-weight: 200;
         font-size: 16px;
         ">Muntazir Fadhel is an Infrastructure Engineer at <a href="https://www.borealisai.com/en/" target="_blank">Borealis AI</a>, with over 5 years of experience in developing and deploying distributed architectures including microservices and machine learning pipelines. He's pacticularly interested in software architecture and deployment, especially as they relate to cloud environments. </p>
      <div style="display: block;/* align-items: center; */margin-left: auto;margin-right: auto;max-width: 80%;margin-bottom: 20px;">
         <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 79px; height: 28px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.69e02060c7c44baddf1b5629549acc0c.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=FadhelMuntazir&amp;show_count=false&amp;show_screen_name=false&amp;size=l&amp;time=1576164501215" data-screen-name="FadhelMuntazir"></iframe><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         <a target="_blank" href="https://mailchi.mp/c976e4a02c94/mfadhel" style="border: 1px solid #b1b1b1;padding: 10px;vertical-align: top;margin: 0px;height: 8px;width: 80px;margin-left: 10px;color: #4e4e4e;display:inline-block;background-color: transparent;" class="post_tags">LEARN MORE</a>               
      </div>
   </div>
   <div style="padding: 7px;padding-bottom: 25px;display: flex;margin-bottom: 40px; margin-top: 40px;align-items: center;padding-left: 20px;justify-content: center;">
      <h4 style="margin-top: 15px;">SHARE ON</h4>
      <a target="_blank" href="https://twitter.com/intent/tweet?text=%22{{ page.title | url_encode }}%22%20{% for tag in page.tags %}%23{{ tag }}%20{% endfor %}&url=http%3A//mfadhel.com{{page.url}}&related={{ site.author.twitter_username }}" style="margin: 4px;">
         <div style="background-color: #3399ff;font-size: 14px;font-family: margin-bottom: 5px;Raleway;display:inline-block;color:white;height: 30;padding: 10px;margin-right:2px;border-radius: 50%;text-align:center;"><i style="font-size: 20px;display: inline-block; font-size:20px;" class="fa fa-twitter" aria-hidden="true"></i><span style="display:inline-block;"></span></div>
      </a>
      <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A//mfadhel.com{{page.url}}&amp;title={{ page.title }}&amp;source=LinkedIn" style="
         margin: 4px;
         ">
         <div style="background-color: #57afaf;font-family: Raleway;margin-bottom: 5px;font-size: 14px;color:white;display:inline-block;margin-right:2px;padding: 10px;border-radius: 50%;text-align:center;"><i style="display: inline-block;font-size: 20px;" class="fa fa-linkedin" aria-hidden="true"></i><span style="display:inline-block;"></span></div>
      </a>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//mfadhel.com{{page.url}}" style="
         margin: 4px;
         ">
         <div style="background-color: #3b5998;font-family: Raleway;margin-bottom: 5px;font-size: 14px;display:inline-block;color:white;padding: 10px;margin-right:2px;border-radius: 50%;text-align:center;"><i style="display: inline-block;padding-left: 2px;font-size: 20px;padding-right: 2px;" class="fa fa-facebook" aria-hidden="true"></i><span style="display:inline-block;"></span></div>
      </a>
   </div>
   {% if page.comments != false and site.disqus_shortname %}
   <section id="disqus_thread"></section>
   <!-- /#disqus_thread -->{% endif %}
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
