---
layout: default
---
<section class="tags-page">
  <h1 class="tags-page__title">Tags</h1>

  <div class="tags-page__cloud tags">
    {% for tagitem in site.tags %}
      {% assign tag_id = tagitem[0] | slugify %}
      <a href="#{{ tag_id }}">{{ tagitem[0] }}</a>
    {% endfor %}
  </div>

  {% for tagitem in site.tags %}
    {% assign tag_id = tagitem[0] | slugify %}
    <section class="tag-section" id="{{ tag_id }}">
      <h2 class="tag-section__title">{{ tagitem[0] }}</h2>
      <ul class="tag-section__list">
        {% for post in site.posts %}
          {% if post.tags contains tagitem[0] %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</section>
